.right.popover .arrow{border-right-color/*\**/: #cccccc\9;}

[class^="icon-"],[class*=" icon-"] {
    background-image:url("../images/glyphicons-halflings.png");
}
.icon-white, .nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"]  {
    background-image:url("../images/glyphicons-halflings-white.png");
}

.modal {
    border: none !important;
    box-shadow: none !important;
    position: relative !important;
    top: 0 !important;
    width: auto !important;
    border-radius: 0px !important;
    left: 0 !important;
}

#sli_heading h1 { line-height: 1 !important; }

.devCheckList { text-align: center; border: 1px solid #DDDDDD; padding: 10px 20px; }

.devCheckList a { cursor: pointer; }

#apply_button { position: absolute; font-size: 11px; margin-left: 10px; }

