.dockbar{ display:none; }
html{ overflow:hidden }
.taglib-captcha .captcha{ padding-left: 150px; }
.portlet-body { margin-left: 15px; }
.portlet-content, .portlet-minimized .portlet-content-container { padding: 0 !important; }
.portlet-title { margin-left: 20px; }
.innerModalPopupDiv .aui-field-label { font-weight: normal; }